.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 8px;

  .col{
      overflow: hidden;
  }
  .col:nth-child(1) {
    grid-column: 1 / 2 span;
  }
  .col:nth-child(2) {
    grid-column: 3 / 2 span;
  }
  .col:nth-child(3) {
    grid-column: 5 / 2 span;
  }
  .col:nth-child(4) {
    grid-column: 7 / 2 span;
  }
  .col:nth-child(5) {
    grid-column: 9 / 2 span;
  }
  .col:nth-child(6) {
    grid-column: 11 / 2 span;
  }
}